<html>

<head>
    <title>mqtt-rest</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>MQTT API REST</h1>
    <hr>
    <h2>Temperature Sensor</h2>
    <pre><a href="/realtime">realtime</a></pre>
    <pre><a href="/history">history</a></pre>
</body>

</html>